<h1>Roster List:</h1>

<table>
  <% @rosters = Roster.all %>
  <% @teams = Team.all %>
  <% @students = Student.all %>

<% @teams.each do |team| %>
  <tr>
    <th>
      <%= team.tName %>:
    </th>
      <% team.students.each do |student| %>
        <td>
        <%= student.fname %> <%= student.lname %>,
        </td>
      <% end %>
  </tr>
<% end %>
</table>
<br>
<%= link_to "new roster", roster_newRost_path %>