<h1>Roster List:</h1>

<table>
  <% @rosters = Roster.all %>

  <tr>
    <th>Std ID</th>
    <th>Team ID</th>
  </tr>

  <% @rosters.each do |roster| %>
  <tr>
      <td><%= roster.student_id %></td>
      <td><%= roster.team_id %></td>
  </tr>
  <% end %>
    </table>

<%= link_to "new roster", roster_newRost_path %>