<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table tr {
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
</style>


<h1>Roster</h1>

<table class="styled-table">
  <% @rosters = Roster.all %>
  <% @teams = Team.all %>
  <% @students = Student.all %>

  <% @teams.each do |team| %>
    <tr>
      <th>
        <%= team.tName %>
      </th>
        <% team.students.each do |student| %>
          <td>
            <%= student.fname %> <%= student.lname %>
          </td>
        <% end %>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Add Students to Teams", roster_newRost_path %>