<h1>Teams!</h1>

<table>
  <% @teams = Team.all %>

    <tr>
      <th>Name</th>
    </tr>
  <% @teams.each do |team| %>
    <tr>

      <td><%= team.tName %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "new team", team_newTeam_path %>