<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table tr {
        text-align: center;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
</style>

<h1>Team Labs:</h1>

<table class = "styled-table">
  <% @teams = Team.all %>
  <% @teams.each do |team| %>
    <tr>
      <th>
        <%= team.tName %>
      </th>
        <% team.labs.each do |lab| %>
          <td>
            |<%= lab.lab_name %>
          </td>
        <% end %>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Assign Teams Labs", team_labs_newTeamLab_path %>