<style>
  h1 {text-align: center;}
  div {color: #621313;}
</style>

<h1>Welcome to the <div>Team Anime Profile Picture</div> Student Rating Board</h1>
<!--<p>Log in or create an account <a href="/session/new">here</a></p>-->
<br>