<h1>Welcome to the site</h1>
<div>
<%= link_to "Student List", student_stdView_path%>
</div>
<div>
<%= link_to "Team List *admin only*", team_index_path %>
</div>
<div>
<%= link_to "Roster List", roster_index_path %>
</div>