<style>
  h1 {text-align: center;}
  div {color: #621313;}
  .styled-table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table tr {
      text-align: center;
  }

  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }

  .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }
</style>

<h1>Welcome to the <div>Team Anime Profile Picture</div> Student Rating Board</h1>
<br>
<table class="styled-table">
  <th>Made by</th>
  <tr><td>Ankit Badatala</td></tr>
  <tr><td>YuChen Gu</td></tr>
  <tr><td>Cameron Millar</td></tr>
  <tr><td>Gautam Rao</td></tr>
  <tr><td>Mike Yamokoski</td></tr>
</table>