<h1>Students</h1>
<% @students = Student.all %>
<table>

    <tr>
        <th>Fname</th>
        <th>Lname</th>
        <th>Email</th>
        <th colspan="3"></th>
    </tr>
  <% @students.each do |student| %>
    <tr>
        <td><%= student.fname %></td>
        <td><%= student.lname %></td>
        <td><%= student.email %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "new student", student_newStd_path %>